<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brain Tumor Detection</title>
    <link rel="stylesheet" href="static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header>
            <h1>Brain Tumor Detection</h1>
            <p>Upload an MRI image to detect the presence and type of brain tumor.</p>
        </header>
        <div class="upload-section">
            <label for="fileInput" class="custom-file-upload">
                Choose an Image
            </label>
            <input type="file" id="fileInput" accept="image/*" onchange="previewImage()" />
        </div>
        <div id="imagePreview" class="image-preview"></div> <!-- Image preview section -->
        <button onclick="uploadImage()">Upload and Predict</button>
        <div id="resultContainer" class="result-container">
            <div id="output" class="output"></div> <!-- Result output section -->
            <div id="imageOutput" class="image-output"></div> <!-- Output image section -->
        </div>
    </div>
  
    <script src="static/script.js"></script>
</body>
</html>
